.EditingPanel div {
	float: right;
	display: block;
    margin: 5px;
    width: 26px;
    height: 26px;
    background-color: white;
}

.EditingPanel .olControlNavigationItemActive { 
    margin-left: 50px;
	width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/pan_on.png");
    background-repeat: no-repeat;
}
.EditingPanel .olControlNavigationItemInactive { 
    margin-left: 50px;
	width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/pan_off.png");
    background-repeat: no-repeat;
}
.EditingPanel .olControlDrawFeatureItemInactive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/add_point_off.png");
    background-repeat: no-repeat;
}
.EditingPanel .olControlDrawFeatureItemActive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/add_point_on.png");
    background-repeat: no-repeat;
}
.EditingPanel .olControlModifyFeatureItemActive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/draw_line_on.png");
    background-repeat: no-repeat;
}
.EditingPanel .olControlModifyFeatureItemInactive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/draw_line_off.png");
    background-repeat: no-repeat;
}
.EditingPanel .olControlSaveFeaturesItemActive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/save_features_on.png");
    background-repeat: no-repeat;
}
.EditingPanel .olControlSaveFeaturesItemInactive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/save_features_off.png");
    background-repeat: no-repeat;
}
.EditingPanel .DeleteFeatureItemActive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/remove_point_on.png");
    background-repeat: no-repeat;
}
.EditingPanel .DeleteFeatureItemInactive { 
          width:  24px;  
          height: 24px;
          background-image: url("../openlayers/theme/default/img/remove_point_off.png");
    background-repeat: no-repeat;
}